@import '../../../../assets/css/variables.scss';
.footer { background: darken($pezesha-gray, 20); color: lighten($pezesha-gray, 10); padding: 20px 0;}
.copyright { font-size: 12px; margin-top: 20px;}
