<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="../../../../assets/images/pezesha_logo.png" alt="Pezesha">
        <p class="copyright">&copy; {{year}} Pezesha. All rights reserved</p>
      </div>
      <div class="col-md-6 justify-content-end">
        <h5>Follow us</h5>
        <p><i class="fa fa-facebook"></i></p>
      </div>
    </div>
  </div>
</div>
