<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="../../../../assets/images/pezesha_logo.png" width="120" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['home']" [routerLinkActive]="['active']"> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['about-us']" [routerLinkActive]="['active']"> About Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" [routerLink]="['register']" [routerLinkActive]="['active']"> Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="heading-spacer"></div>
