@import '../../../assets/css/variables.scss';
.jumbotron{ padding: 0;}
.jumbotron h1 { font-size: 36px; font-weight: 500; margin-top: 50px}
.jumbotron button { width: 240px;}
.rounded-button { border-radius: 30px; background: #55C323; border: none; text-transform: uppercase; color: lighten($pezesha-gray, 47)}
.spacer { padding: 30px 0;}
.media { background: lighten($pezesha-gray,45); border-radius: $radius; margin-bottom: 20px; padding:15px 10px;}
.media-body { font-size: 11px;}
.media h5 { color: $pezesha-green; font-weight: 500;}
.step-number { font-size: 72px; font-weight: bolder;  padding: 0 14px 0 5px; color: lighten($pezesha-gray, 40); line-height: 0.8; }

// Customer stories section
.owl-carousel .owl-stage { margin-bottom: 30px;}

.customer-story  {
  box-shadow: lighten($pezesha-gray, 40) 3px 5px 5px;
  height: 100%;
  border-radius: $radius;
  margin: 0 10px;
  background: lighten($pezesha-gray, 49);
}
.customer-testimonial {
  padding: 20px;
  font-size: 13px;
}
.customer-name {
  font-size: 13px;
  font-weight: bolder;
  text-align: right;
  margin-top: 20px;
}
.customer-story { height: 400px;margin-bottom: 30px;}

