<!-- Banner -->
<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      <img src="../../../assets/images/Artboard%201-100.jpg" alt="Intro" width="100%">
    </div>
    <div class="col-md-5">
      <h1 class="display-4">Quick. Easy. Fair</h1>
      <p class="lead">Short to long term SME business loans of up to KShs 1,000,000.</p>
      <button class="btn rounded-button" [routerLink]="['/register']" role="button">Apply</button>
    </div>
  </div>
</div>
<!-- /Banner-->

<!-- How it works -->
<div class="row justify-content-center spacer">
    <h4>Get your loan in 7 easy steps</h4>
</div>
<div class="row">
  <div class="col-md-3 col-sm-6">
    <div class="media">
      <div class="step-number">1</div>
      <div class="media-body">
        <h5 class="mt-0">Apply</h5>
        Register your KYC information to open a business profile with us
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="media">
      <div class="step-number">2</div>
      <div class="media-body">
        <h5 class="mt-0">Evaluate</h5>
        We analyse your business fit and invite you for a presentation
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="media">
      <div class="step-number">3</div>
      <div class="media-body">
        <h5 class="mt-0">Credit Scoring</h5>
        We request assess your risk profile and loan limit
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="media">
      <div class="step-number">4</div>
      <div class="media-body">
        <h5 class="mt-0">Due diligence</h5>
        We  visit your premises and conduct due diligence
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-sm-6">
    <div class="media">
      <div class="step-number">5</div>
      <div class="media-body">
        <h5 class="mt-0">Matching</h5>
        We match you with lenders to fund your business
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="media">
      <div class="step-number">6</div>
      <div class="media-body">
        <h5 class="mt-0">Funding</h5>
        Receive your debt funding with clear repayment plan and terms
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="media">
      <div class="step-number">7</div>
      <div class="media-body">
        <h5 class="mt-0">Repayment</h5>
        Flexible repayment plan of 1 - 12 months and track your history
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="row justify-content-center">
      <h4>Ready for success?</h4><br>
      <button class="btn btn-block rounded-button" [routerLink]="['/register']">Apply</button>
    </div>
  </div>
</div>
<!-- /How it works -->

<!-- Our customer stories -->
<div class="row justify-content-center spacer">
  <h3>Our customer stories</h3>
</div>
<div class="row">
  <div class="container">
    <div id="customer-stories" class="owl-carousel owl-theme">
      <div class="customer-story item">
        <img src="../../../assets/images/customer_story_1-100.jpg" alt="Joseph">
        <div class="customer-testimonial">
          I have enjoyed a great experience lending with Pezesha this far. Their customer support is also very fast and sufficient.
          <div class="customer-name">Joseph - Kajiado</div>
        </div>
      </div>
      <div class="customer-story item">
        <img src="../../../assets/images/customer_story_2-100.jpg" alt="Caroline">
        <div class="customer-testimonial">
          Pezesha loans have flexible repayment schedules and accessing my next loan is very fast and easy. I’ve now been
          able to stock my own items for sale, which has greatly increased my profit margins.
          <div class="customer-name">Caroline - Mathare</div>
        </div>
      </div>
      <div class="customer-story item">
        <img src="../../../assets/images/customer_story_3-100.jpg" alt="Alex">
        <div class="customer-testimonial">
          I am greatly impressed by the level of commitment shown by the women I have funded. I am considering directing more
          funds to empower more women entrepreneurs next year.
          <div class="customer-name">Alex - Naivasha</div>
        </div>
      </div>
      <div class="customer-story item">
        <img src="../../../assets/images/customer_story_1-100.jpg" alt="Caroline">
        <div class="customer-testimonial">
          Pezesha loans have flexible repayment schedules and accessing my next loan is very fast and easy. I’ve now been
          able to stock my own items for sale, which has greatly increased my profit margins.
          <div class="customer-name">Caroline - Mathare</div>
        </div>
      </div>
      <div class="customer-story item">
        <img src="../../../assets/images/customer_story_3-100.jpg" alt="Alex">
        <div class="customer-testimonial">
          I am greatly impressed by the level of commitment shown by the women I have funded. I am considering directing more
          funds to empower more women entrepreneurs next year.
          <div class="customer-name">Alex - Naivasha</div>
        </div>
      </div>
      <div class="customer-story item">
        <img src="../../../assets/images/customer_story_2-100.jpg" alt="Caroline">
        <div class="customer-testimonial">
          Pezesha loans have flexible repayment schedules and accessing my next loan is very fast and easy. I’ve now been
          able to stock my own items for sale, which has greatly increased my profit margins.
          <div class="customer-name">Caroline - Mathare</div>
        </div>
      </div>
      <div class="customer-story item">
        <img src="../../../assets/images/customer_story_3-100.jpg" alt="Alex">
        <div class="customer-testimonial">
          I am greatly impressed by the level of commitment shown by the women I have funded. I am considering directing more
          funds to empower more women entrepreneurs next year.
          <div class="customer-name">Alex - Naivasha</div>
        </div>
      </div>
      <div class="customer-story item">
        <img src="../../../assets/images/customer_story_1-100.jpg" alt="Caroline">
        <div class="customer-testimonial">
          Pezesha loans have flexible repayment schedules and accessing my next loan is very fast and easy. I’ve now been
          able to stock my own items for sale, which has greatly increased my profit margins.
          <div class="customer-name">Caroline - Mathare</div>
        </div>
      </div>
      <div class="customer-story item">
        <img src="../../../assets/images/customer_story_2-100.jpg" alt="Caroline">
        <div class="customer-testimonial">
          Pezesha loans have flexible repayment schedules and accessing my next loan is very fast and easy. I’ve now been
          able to stock my own items for sale, which has greatly increased my profit margins.
          <div class="customer-name">Caroline - Mathare</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Our customer stories -->
