<div class="row">
  <div class="col-md-6 col-sm-6">
    <h4>Dashboard</h4>
    <app-line-graph-large [data]='graph_data' [labels]='graph_labels'></app-line-graph-large>
  </div>
  <div class="col-md-3 col-sm-6">

  </div>
  <div class="col-md-3 col-sm-6">

  </div>
</div>
<div class="row">
  <div class="col-md-3 col-sm-6">
    <div class="media">
      <div class="media-body">
        <h5 class="mt-0">Matching</h5>
        We match you with lenders to fund your business
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="media">
      <div class="media-body">
        <h5 class="mt-0">Funding</h5>
        Receive your debt funding with clear repayment plan and terms
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="media">
      <div class="media-body">
        <h5 class="mt-0">Repayment</h5>
        Flexible repayment plan of 1 - 12 months and track your history
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="row justify-content-center">
      <h4>Ready for success?</h4><br>
      <button class="btn btn-lg rounded-button" [routerLink]="['/register']">Apply</button>
    </div>
  </div>
</div>
