/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Oswald:200,400,600&display=swap');
* { font-family: 'Open Sans', sans-serif; color: #7d7e82;}
h1, h2, h3, h4 , h5, h6 { color: #55C323; font-weight: 300; margin-top: 30px;}



